x64/
ARM64/
Debug/
Release/
# Output of New-Release.ps1. Spelled in lower case as well as upper: git matching is
# case-sensitive on Linux and macOS, where "Release/" would not cover it.
release/
package/
*.obj
*.pdb
*.sys
*.cat
*.cer
*.pfx
*.cab
*.tlog
*.log
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
*.lastcodeanalysissucceeded
*.nativecodeanalysis.xml
*.tmp
